* {
    padding: 0;
    margin: 0;
}

.menu{
width: 100%;
height: 60px;
background-color: rgb(253, 31, 68);
}

.Conteúdo{
width: 100%;
background-color: rgb(183, 0, 255);
}

.Rodape{
background-color: rgb(43, 46, 226);
width: 100%;
text-align: center;
}

.info-Cinema {
    width: 100%;
    background-color: red;
}
.info-Filme {
    width: 100%;
    background-color: green;
}
.info-Filme-Retro {
    width: 100%;
    background-color: yellow;
}
.info-Destaques {
    width: 100%;
    background-color: orange;
}

